body {
    padding: 0;
    margin: 0;
}
/* START Header // Footer */

header, footer {
    display: flex;
    background-color: #04CFFC;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

header h3, footer h3{
    font-weight: lighter;
    text-align: center;
}

header ul, footer ul{
    list-style-type: none;
    display: flex;
    gap: 12px;
}
header li, footer li{
    font-size: smaller;
    font-weight: bold;
}
footer {
    background-color: #D9D9D9;
}
footer div {
    display: flex;
    gap: 0;
}
footer div ul {
    display: flex;
    flex-direction: column;
}
nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: gray;
}
/* END Header // Footer */

/* Home Page */

#herobackground {
    display: flex;
    width: 100vw;
    height: 60vh;
    background-image: url("./assets/pexels-s-j-108387745-12093423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px) brightness(0.6);
}

/* END Home Page */